@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-3 text-primary">Welcome to the place where you can buy out of your country</h2>
    <p class="display-4 text-dark">Soon we will have a good news for you.</p>
    <p class="display-5 text-dark">we are in construction.</pclass="display-5>
</div>
